body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  margin-left: 8%;
  margin-top: 8%;
}

.break {
  background-color: white;
  height: 1px;
  width: 90%;
}

h1 {
  font-size: 60px;
  letter-spacing: 1px;
}

.name {
  font-size: 25px;
  letter-spacing: 1px;
}

.left {
  margin-top: 8%;
  width : 40%;
}

img {
  width: 100%;
}

footer {
  margin-top: 8%;
  margin-bottom: 8%;
}
  